/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Policy style----------------------------*/

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height and padding for navbar */
    margin-bottom: 60px;
    padding-top: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*Pricing style ------------------*/
section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    background-size: auto;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

    .pricing .card-price .period {
        font-size: 0.8rem;
    }

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

        .pricing .card:hover .btn {
            opacity: 1;
        }
}

/*Scroll to top section ---------------------*/

#scrollToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 45px; /* Increase font size */
}

    #scrollToTop:hover {
        background-color: #DCDCDC; /* Add a dark-grey background on hover */
    }

/*Footer css styling --------------------------------------*/
.footer1 {
    background-color: dimgray;
    color: white;
}

    .footer1 h2 {
        margin: 5px;
        padding: 8px;
        font-size: 25px;
        font-family: "Times New Roman", Times, serif;
    }

    .footer1 a {
        color: white;
    }

        .footer1 a:hover {
            color: orange;
        }

    .footer1 p {
        margin: 5px;
        padding-top: 2px;
        padding-left: 10px;
        font-size: 18px;
        font-family: "Times New Roman", Times, serif;
    }

    .footer1 h2 {
        margin: 5px;
        padding: 5px;
        border-bottom: 1px solid white;
    }
/*==========================footer2===========================*/
.footer2 {
    background-color: #e6e6e6;
    color: black;
}

    .footer2 p {
        margin: 8px;
        padding: 8px;
        font-size: 16px;
        font-family: "Times New Roman", Times, serif;
    }

.myframegmap {
    border: 3px solid #f6f5f0;
    border-radius: 8px;
    height: 130px;
    width: 80%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}