@model CondominiumCoOwnersSystem.Web.ViewModels.CompanyInfo.CompanyInfoViewModel

<div id="contact" class="card text-center">
    <div class="card-header">
        <h3>@Model.CompanyTypeTypeOfServices</h3>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="col-md-3 d-inline-block"><i class="fa fa-map-marker fa-5x mb-3"></i> Адрес: @Model.Address</div>
            <div class="col-md-3 d-inline-block"><i class="fa fa-phone fa-5x mb-3"></i>Телефон: @Model.PhoneNumber</div>
            <div class="col-md-3 d-inline-block"><i class="fa fa-globe fa-5x mb-3"></i>Емейл: @Model.Email</div>
        </div>
    </div>
</div>

