@model IEnumerable<CondominiumCoOwnersSystem.Web.ViewModels.Reports.BuildingsOfUserViewModel>

@{
    this.ViewData["Title"] = "Information";
}

@if (!Model.Any())
{
    <div class="alert">
        Вие не сте добавили апартамент. Моля изберете от менюто Апартамент и добавате вашият апартамент.
        Веднага след това ще може да получите пълна информация за вашата сграда. Ако има проблем моля свържете се с нас
        <a href="#" asp-controller="Contacs" asp-action="Index">Контакт</a>.
    </div>
}
else
{
    <div class="alert alert-secondary" role="alert">
        Моля изберете за коя сграда искате да видите информация.
    </div>

    @foreach (var building in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@building.Street</h5>
                <h6 class="card-subtitle mb-2 text-muted">@building.CityName</h6>
                <p class="card-text">Тук може да видите информация за обслужващите фирми, начин на разпределение на месечните такси, такса за фонд ремонт и обновление.</p>
                <a class="card-link" asp-action="BuildingInfo" asp-route-buildingId="@building.Id">Избери</a>
            </div>
        </div>
    }
}