@model CondominiumCoOwnersSystem.Web.ViewModels.Apartmеnts.AddApartmentToUserInputModel

@{
    var apartments = Model.Apartments.Select(x => new SelectListItem(x.Number.ToString(), x.Id.ToString()));
}

@if (apartments.Count() == 0)
{
    <hr />
    <span onstalled="alert" class="alert-danger">Всички апартаменти в сградата имат посочен собственик. Ако е възникнала грешка моля свържете се с нас <a asp-controller="Contacts" asp-action="Index">Контактна Форма.</a></span>
}
else
{
    <label asp-for="ApartmentId"></label>
    <select id="selectedApartment" asp-for="ApartmentId" asp-items="apartments" class="form-control">
        <option>
            Изберете апартамент...
        </option>
    </select>
    <span asp-validation-for="ApartmentId" class="text-danger"></span>


    <div class="form-group">
        <label asp-for="Floor"></label>
        <input asp-for="Floor" type="number" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Inhabitant"></label>
        <input asp-for="Inhabitant" type="number" class="form-control" />
        <span asp-validation-for="Inhabitant" class="text-danger"></span>
    </div>
    <button class="btn btn-success" type="submit">Добавете апартамент</button>
}

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
